@use "../settings/settings.index" as settings;

html,
body {
    -webkit-font-smoothing: antialiased;
}

body {
    color: var(--dark);
    background-color: var(--off-light);

    @include settings.b0;
}
